<table class="table table-hover">
  <tr>
    <th>Status</th>
    <th>Item</th>
    <th>Details</th>
    <th>Deadline</th>
    <th>Date Completed</th>
    <th>Ações</th>
  </tr>
  <% items.each do |item| %>
    <tr>
      <td><%= item.status_text %>
      <td><%= item.name %></td>
      <td><%= item.details %></td>
      <td><%= item.deadline %></td>
      <td><%= item.date_completed %></td>
      <td>
        <%= link_to edit_item_path(item.id) do %>
          <i class="glyphicon glyphicon-pencil"></i>
        <% end %>
        <span class="glyphicon glyphicon-trash"></span>
      </td>
  <% end %>
</table>
