<p class="h2">COMO VOCÊ VAI PAGAR POR SEUS ESTUDOS NOS ESTADOS UNIDOS?</p>

<p class="lead text-muted">Mensalidades, taxas e custo de vida variam muito entre as instituições, essas variações tornam o ensino superior acessível a centenas de milhares de estudantes internacionais a cada ano.</p>

<p class="lead text-muted">Quando você começa a definir suas fontes de financiamento, você deve pensar:</p>

<p class="h3 text-uppercase">Sua Contribuição Financeira</p>
<p class="lead text-muted">Sua contribuição financeira pode vir de recursos próprios, familiares e/ou outras fontes.</p>

<div class="field">
  <p class="lead text-muted">Quanto dinheiro, em dólares, você e sua família podem contribuir a cada ano?</p>
  <p class="h4">
    <%= radio_button(:priority, :family_amount_per_year, "less_then_5") %>
    Menos de US$ 5.000
  </p>

  <p class="h4">
    <%= radio_button(:priority, :family_amount_per_year, "5_to_10") %>
    US$ 5.000 - 10.000
  </p>

  <p class="h4">
    <%= radio_button(:priority, :family_amount_per_year, "10_to_15") %>
    US$ 10.000 - 15.000
  </p>

  <p class="h4">
    <%= radio_button(:priority, :family_amount_per_year, "15_to_25") %>
    US$ 15.000 - 25.000
  </p>

  <p class="h4">
    <%= radio_button(:priority, :family_amount_per_year, "more_then_25") %>
    Mais de US$ 25.000
  </p>
</div>

<p class="h3">Auxílio Financeiro</p>

<div class="field">
  <p class="lead text-muted">Muitas instituições norte-americanas oferecem bolsas de estudo por um número de razões. Esses prêmios financeiros são dados para os candidatos mais qualificados. A partir desta lista, selecione as que podem se aplicar a você</p>

  <p class="h4">
    <%= check_box_tag('priority[finances_help]', 'financial_need') %>
    Financial Need
    <spam class="small">Auxílio por necessidade financeira geralmente é determinada pela baixa renda, dificuldades econômicas ou outro fatores.</spam>
  </p>

  <p class="h4">
    <%= check_box_tag('priority[finances_help]', "academic_merit") %>
    Academic Merit
    <spam class="small">Realizações acadêmicas, normalmente obtidas em sala de aula através de boas notas, altas pontuações em testes, e outros sucessos.</spam>
  </p>

  <p class="h4">
    <%= check_box_tag('priority[finances_help]', "sports") %>
    Sports
    <spam class="small">Talentos especiais em um esporte, normalmente exibidos durante eventos competitivos.</spam>
  </p>

  <p class="h4">
    <%= check_box_tag('priority[finances_help]', "musical_talent") %>
    Musical Talent
    <spam class="small">Talentos especiais em música.</spam>
  </p>

  <p class="h4">
    <%= check_box_tag('priority[finances_help]', "on_campus_employment") %>
    On-Campus Employment
    <spam class="small">Regulamentos de imigração dos Estados Unidos atuais permitem que os estudantes internacionais a trabalhem até 20 horas por semana no campus, 	enquanto a escola estiver em sessão, e até 40 horas por semana durante as férias escolares.</spam>
  </p>

  <p class="h4">
    <%= check_box_tag(:finances_help, "others") %>
    Outras razões
  </p>
  <p><%= f.text_area :pretended_course, cols: "60", rows: "4" %></p>
</div>
