<%= form_for(priority) do |f| %>
  <% if priority.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(priority.errors.count, "error") %> prohibited this priority from being saved:</h2>

      <ul>
      <% priority.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="lead"><em>Ao procurar por um programa de graduação nos Estados Unidos, é importante primeiro decidir o que é mais importante para você. Isso nos ajudará a guiá-lo através de seus passos para o estudo nos Estados Unidos. Por favor, responda às seguintes perguntas com o máximo de informação possível.</em></p>


  <%= render 'why_study_in_usa' %>
  <%= render 'short_term_objectives', f: f %>
  <%= render 'long_term_objectives', f: f %>
  <hr>
  <%= render 'affording', f: f %>
  <hr>
  <%= render 'institution_type', f: f %>
  <hr>
  <%= render 'adaptation', f: f %>

  <div class="actions">
    <p><%= f.submit 'Salvar Prioridades', class: 'btn btn-success' %></p>
  </div>
<% end %>
