<p class="h2">QUE TIPO DE INSTITUIÇÃO NOS ESTADOS UNIDOS É MELHOR PARA VOCÊ?</p>

<p class="lead text-muted">Há mais de 4.900 faculdades e universidades credenciadas nos Estados Unidos. QUANDO VOCÊ COMEÇA A DEFINIR SUAS OPÇÕES, VOCÊ DEVE PENSAR:</p>

<p class="h3 text-uppercase">Tipo de Instituição</p>

<div class="field">
  <p class="lead text-muted">As instituições nos Estados Unidos oferecem aos estudantes de graduação várias opções com base em suas necessidades individuais.</p>
  <p class="h4">
    <%= radio_button(:priority, :institution_type, "2years") %>
    2-year Institution
  </p>
  <p>Também conhecidas com Community College, essas instituições são para estudantes de graduação que desejam:
    <ul>
      <li>Um grau técnico</li>
      <li>Crédito acadêmico para uma graduação de bacharel. Ganhando créditos acadêmicos em uma Community College, que é geralmente menos caro, pode ajudar a reduzir o custo total de um diploma de bacharel. As Community College também podem oferecer um processo de admissão mais flexível</li>
    </ul>
  </p>

  <p class="h4">
    <%= radio_button(:priority, :institution_type, "4years") %>
    4-year Institution
  </p>
  <p>Estudantes em faculdades e universidade podem:
    <ul>
      <li>Fazer um intercâmbio universitário de um semestre ou mais</li>
      <li>Diploma de Bacharel</li>
      <li>Pós-Graduação após completar o bacharelado</li>
    </ul>
  </p>

  <p class="h4">
    <%= radio_button(:priority, :institution_type, "both") %>
    Ambas
  </p>
  <p>Pense nos dois casos se você estiver procurando por programas acadêmicos específicos ou assistência financeira.</p>
</div>

<div class="field">
  <p class="h3 text-uppercase">Desempenho no Ensino Médio</p>
  <p class="lead text-muted">A média combinada das notas de um aluno para todos os cursos acadêmicos concluídos no Ensino Médio. Nos Estados Unidos, notas do ensino médio são geralmente atribuídas em letras e baseiam-se em uma escala chamada GPA (Grade Point Average).</P>
  <table class="table table-hover">
    <tr>
      <th>Nota</th>
      <th>GPA</th>
    </tr>
    <tr>
      <td>A</td>
      <td>4.0 (excelente)</td>
    </tr>
    <tr>
      <td>B</td>
      <td>3.0 (bom)</td>
    </tr>
    <tr>
      <td>C</td>
      <td>2.0 (satisfatório)</td>
    </tr>
    <tr>
      <td>D</td>
      <td>1.0 (média)</td>
    </tr>
    <tr>
      <td>F</td>
      <td>0.0 (reprovado)</td>
    </tr>
  </table>

  <p class="lead text-muted">Como você classifica a seu desempenho no Ensino Médio baseado na escala acima?</p>
  <p class="h4">
    <%= radio_button(:priority, :performance, "excelente") %>
    Excelente
  </p>

  <p class="h4">
    <%= radio_button(:priority, :performance, "bom") %>
    Bom
  </p>

  <p class="h4">
    <%= radio_button(:priority, :performance, "satisfatorio") %>
    Satisfatório
  </p>

  <p class="h4">
    <%= radio_button(:priority, :performance, "mediano") %>
    Mediano
  </p>

  <p class="h4">
    <%= radio_button(:priority, :performance, "ruim") %>
    Ruim
  </p>
</div>

<div class="field">
  <p class="lead text-muted">Você já tomou algum dos testes padronizados para admissão em faculdades ou universidades americanas?</p>


  <p class="h4">
    <%= check_box_tag(:tests_taken, 'financial_need') %>
    SAT Reasoning Test
    <spam class="small">Teste de múltipla escolha de matemática e Inglês.</spam>
  </p>

  <p class="h4">
    <%= check_box_tag(:tests_taken, "academic_merit") %>
    ACT + Writing Test
    <spam class="small">Teste de múltipla escolha de Inglês, matemática, leitura, ciência e raciocínio (mais um componente de escrita opcional).</spam>
  </p>

  <p class="h4">
    <%= check_box_tag(:tests_taken, "sports") %>
    TOEFL
    <spam class="small">Teste de Inglês como Língua Estrangeira, exame de proficiência de candidatos cuja língua materna não é o Inglês.</spam>
  </p>

  <p class="h4">
    <%= check_box_tag(:tests_taken, "musical_talent") %>
    IELTS
    <spam class="small">Teste de Inglês como Língua Estrangeira, exame de proficiência de candidatos cuja língua materna não é o Inglês.</spam>
  </p>
</div>

<div class="field">
  <p class="h3">Desempenho no Ensino Médio</p>
  <p class="lead text-muted">O tamanho de uma faculdade ou universidade pode impactar muitas coisas, tais como o número de alunos em sala de aula, cursos ou disciplinas que são oferecidos, a facilidade de fazer novos amigos, e para o ambiente em geral.</p>

  <p class="lead text-muted">Qual dos seguintes tamanhos de campus seria o melhor para você?</p>

  <p class="h4">
    <%= radio_button(:priority, :institution_size, "pequeno") %>
    Pequeno (menos de 5.000 estudantes)
  </p>

  <p class="h4">
    <%= radio_button(:priority, :institution_size, "medio") %>
    Médio (5.000 - 15.000 estudantes)
  </p>

  <p class="h4">
    <%= radio_button(:priority, :institution_size, "grande") %>
    Grande (mais de 15.000 estudantes)
  </p>

  <p class="h4">
    <%= radio_button(:priority, :institution_size, "qualquer") %>
    Sem preferência
  </p>
</div>

<div class="field">
  <p class="lead text-muted">O número de estudantes internacionais matriculados na instituição pode ser importante para você também. O que seria melhor para você?</p>

  <p class="h4">
    <%= radio_button(:priority, :internation_studants, "baixa") %>
    Baixa população de estudantes internacionais
  </p>

  <p class="h4">
    <%= radio_button(:priority, :internation_studants, "media") %>
    Média população de estudantes internacionais
  </p>

  <p class="h4">
    <%= radio_button(:priority, :internation_studants, "grande") %>
    Grande população de estudantes internacionais
  </p>

  <p class="h4">
    <%= radio_button(:priority, :internation_studants, "qualquer") %>
    Sem preferência
  </p>
</div>

