<p class="h3 text-uppercase">Seus Objetivos em Curto Prazo</p>

<div class="field">
  <p class="lead text-muted">Quais assuntos mais lhe interessam?</p>
  <p><%= f.text_area :interesting_subjects, cols: "60", rows: "2" %></p>
</div>

<div class="field">
  <p class="lead text-muted">Qual curso de formação você pretende fazer?<p>
  <p><%= f.text_area :pretended_course, cols: "60", rows: "2" %></p>
</div>

<div class="field">
  <p class="lead text-muted">Que grau de formação você quer buscar nos Estados Unidos?</p>

  <p class="h4">
    <%= radio_button(:priority, :pretended_formation_degree, "tecnico") %>
    Grau Técnico (2 anos)
    <spam class="small">Diploma concedido após um período de estudo de dois anos</spam>
  </p>

  <p class="h4">
    <%= radio_button(:priority, :pretended_formation_degree, "bacharelado") %>
    Bacharelado (4 anos)
    <spam class="small">Diploma concedido após a conclusão de cerca de quatro anos de estudo em tempo integral.</small>
  </p>

  <p class="h4">
    <%= radio_button(:priority, :pretended_formation_degree, "indeciso") %>
    Indeciso
  </p>
</div>

<div class="field">
  <p class="lead text-muted">Durante qual época do ano você pretende começar seus estudos nos Estados Unidos?</p>

  <p class="h4">
    <%= radio_button(:priority, :starting_season, "agosto-setembro") %>
    Agosto/Setembro
  </p>

  <p class="h4">
    <%= radio_button(:priority, :starting_season, "janeiro") %>
    Janeiro
  </p>

  <p class="h4">
    <%= radio_button(:priority, :starting_season, "maio-junho") %>
    Maio/Junho
  </p>

  <p class="h4">
    <%= radio_button(:priority, :starting_season, "sem_preferencia") %>
    Sem Preferência
  </p>
</div>
