<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @document.status %>
</p>

<p>
  <strong>Path:</strong>
  <%= @document.path %>
</p>

<p>
  <strong>Document type:</strong>
  <%= @document.document_type %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
