<%= form_for(player) do |f| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <hr>
  <h2>Personal Information</h2>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :birthday %>
    <%= f.date_select :birthday %>
  </div>

  <div class="field">
    <%= f.label :cpf %>
    <%= f.text_field :cpf %>
  </div>

  <div class="field">
    <%= f.label :rg %>
    <%= f.text_field :rg %>
  </div>

  <div class="field">
    <%= 'Telefones de contato' %>
    <%= f.text_field :phones %>
    <%= f.text_field :phones %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :address_street %>
    <%= f.text_field :address_street %>
  </div>

  <div class="field">
    <%= f.label :address_number %>
    <%= f.text_field :address_number %>
  </div>

  <div class="field">
    <%= f.label :address_complement %>
    <%= f.text_field :address_complement %>
  </div>

  <div class="field">
    <%= f.label :address_neighborhood %>
    <%= f.text_field :address_neighborhood %>
  </div>

  <div class="field">
    <%= f.label :address_cep %>
    <%= f.text_field :address_cep %>
  </div>

  <div class="field">
    <%= f.label :address_city %>
    <%= f.text_field :address_city %>
  </div>

  <div class="field">
    <%= f.label :address_state %>
    <%= f.text_field :address_state %>
  </div>
  <hr>

  <h2>Responsible Information</h2>
  <div class="field">
    <%= f.label :responsible_name %>
    <%= f.text_field :responsible_name %>
  </div>

  <div class="field">
    <%= f.label :responsible_cpf %>
    <%= f.text_field :responsible_cpf %>
  </div>

  <div class="field">
    <%= f.label :responsible_phones, array: true, default: [] %>
    <%= f.text_field :responsible_phones, array: true, default: [] %>
  </div>

  <div class="field">
    <%= f.label :responsible_email %>
    <%= f.text_field :responsible_email %>
  </div>

  <hr>
  <h2>Exchange Information</h2>
  <div class="field">
    <%= f.label :sport_name %>
    <%= f.text_field :sport_name %>
  </div>

  <div class="field">
    <%= f.label :headquarter %>
    <%= f.text_field :headquarter %>
  </div>

  <div class="field">
    <%= f.label :conclusion_date %>
    <%= f.date_select :conclusion_date %>
  </div>

  <div class="field">
    <%= f.label :travel_date %>
    <%= f.date_select :travel_date %>
  </div>

  <hr>
  <h2>Signing Fee</h2>
  <div class="field">
    <%= f.label :signing_situation %>
    <%= f.text_field :signing_situation %>
  </div>

  <div class="field">
    <%= f.label :signing_value %>
    <%= f.text_field :signing_value %>
  </div>

  <div class="field">
    <%= f.label :signing_payment_mode %>
    <%= f.text_field :signing_payment_mode %>
  </div>

  <hr>
  <h2>Advisory Fee</h2>
  <div class="field">
    <%= f.label :advisory_situation %>
    <%= f.text_field :advisory_situation %>
  </div>

  <div class="field">
    <%= f.label :advisory_value %>
    <%= f.text_field :advisory_value %>
  </div>

  <div class="field">
    <%= f.label :advisory_payment_mode %>
    <%= f.text_field :advisory_payment_mode %>
  </div>

  <div class="field">
    <%= f.label :advisory_notes %>
    <%= f.text_area :advisory_notes, cols: "40", rows: "5" %>
  </div>

  <hr>
  <h2>AE Academy</h2>
  <div class="field">
    <%= 'Plano' %>
    <% plans_array = Plan.all.map { |plan| [plan.formated_plan, plan.id] } %>
    <%= f.select :plan_id, options_for_select(plans_array) %>
  </div>

  <div class="field">
    <%= f.label :plan_end_date %>
    <%= f.date_select :plan_end_date %>
  </div>

  <div class="field">
    <%= f.label :platform_payment_mode %>
    <%= f.text_field :platform_payment_mode %>
  </div>

  <div class="field">
    <%= f.label :platform_payment_mode %>
    <%= f.text_field :platform_payment_mode %>
  </div>

  <div class="field">
    <%= f.label :platform_parcels %>
    <%= f.number_field :platform_parcels %>
  </div>

  <div class="field">
    <%= f.label :platform_notes %>
    <%= f.text_area :platform_notes, cols: "40", rows: "5" %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
