<p class="h3 text-center"><%= @player.name %>, <%= @player.age %> anos</p>

<p class="h3">TO DO LIST</p>
<table class="table table-hover">
  <tr>
  <% @headers.each do |header| %>
    <th><%= header %></th>
  <% end %>
  </tr>
  <% @player.items.each do |item| %>
    <td><span class="<%= item.status_glyphicon %>"></span></td>
    <td><%= item.name %></td>
    <td><%= item.details %></td>
    <td><%= item.deadline %></td>
    <td><%= item.date_completed %></td>
  <% end %>
</table>
